<% _.each(sounds, function(sound, index) { %>
	<% if (index%6 == 0) { %>
		<div class="row">
	<% } %>
	<div class="span2">
	    <img src="images/audio.png" alt="audio" height="48" width="48">
	    <%= sound %>
	</div>
	<% if (index%6 == 5) { %>
		</div>
	<% } %>
<% }); %>