<div class="costumes_list">
	<h5>Sprites</h5>
	<button id="sprite-upload-button" class="sprite-button" type="button">
		<img  src="../images/new.png" height="20" width="24"> </img>
	</button>
	<button id="sprite-delete-button" class="sprite-button" type="button">
		<img  src="../images/delete.png" height="20" width="24"> </img>
	</button>

	<ol class="selectable">
	</ol>

</div>

<div class="costumes_view">
	<div class="toolbar_costumes">
		<h5>Costumes</h5>
		<button id="costume-upload-button" class="sprite-button" type="button">
			<img  src="../images/upload.png" height="20" width="24"> </img>
		</button>
		<button id="costume-delete-button" class="sprite-button" type="button">
			<img  src="../images/delete.png" height="20" width="24"> </img>
		</button>
	</div> <!-- div costumes toolbar end -->
	<div class="costumes">
			
	</div>
</div>

