<canvas class="canvas-droppable" id="<%= id %>" width="<%= width %>" height="<%= height %>">
</canvas>
<!-- <div class="costumes_list">
	<h5>Sprites</h5>
	<button id="sprite-upload-button" class="sprite-button" type="button">
		<img  src="../images/new.png" height="20" width="24"> </img>
	</button>
	<button id="sprite-delete-button" class="sprite-button" type="button">
		<img  src="../images/delete.png" height="20" width="24"> </img>
	</button>

	<ol class="selectable">
	</ol>

</div> -->