<ul class="nav nav-pills" role="tablist">
    <li class="active"><a href="#motion-commands" role="tab" data-toggle="tab">Motion</a></li>
    <li><a href="#control-commands" role="tab" data-toggle="tab">Control</a></li> 
    <li><a href="#look-commands" role="tab" data-toggle="tab">Looks</a></li>     
    <li><a href="#operator-commands" role="tab" data-toggle="tab">Operators</a></li> 
    <li><a href="#variable-commands" role="tab" data-toggle="tab">Variables</a></li> 
</ul>
<div class="tab-content" id="toolbar-pane">
	<div id="motion-commands" class="tab-pane active">
	<ul class="list-group toolbar">
		<li class="toolbar-item toolbar-item-motion draggable_sortable  command_set_x" id="command_set_x" >
			<div class="first-label">set to x</div>
			<input type="text" name="value_set_to_x" value="10" class="number-input input-droppable"></input>
		</li>
		<li class="toolbar-item toolbar-item-motion draggable_sortable command_set_y" id="command_set_y" >
			<div class="first-label">set to y</div>
			<input type="text" name="value_set_to_y" value="10" class="number-input input-droppable"></input>
		</li>
		<li class="toolbar-item toolbar-item-motion draggable_sortable command_move" id="command_move">
			<div class="first-label">move</div>
			<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
			<div style="display:inline-block;" >steps</div> 
		</li>
	</ul>
	</div>
	<div id="control-commands" class="tab-pane">
	<ul class="list-group toolbar">
		<li class="toolbar-item toolbar-item-assignment draggable_sortable  command_assignment" id="command_assignment">
			<input type="text" name="value_variable" value="" class="number-input input-droppable" disabled></input>
			<div style="display:inline-block;">=</div>
			<input type="text" name="value_set_to_x" value="" class="number-input assignment-droppable"></input>
		</li>
		<li class="toolbar-item toolbar-item-control draggable_sortable command_repeat" id="command_repeat">
			<div class="block-control-top">
				<div class="first-label">repeat</div>
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >times</div> 
			</div>
			<ul>
			</ul>
			<div class="block-control-botm"></div>
		</li>
		<li class="toolbar-item toolbar-item-control draggable_sortable command_forever" id="command_forever">
			<div class="block-control-top">
				forever
			</div>
			<ul>
			</ul>
			<div class="block-control-botm"></div>
		</li>
		<li class="toolbar-item toolbar-item-control draggable_sortable command_if" id="command_if">
			<div class="block-control-top">
				<div class="first-label">if</div>
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >then</div> 
			</div>
			<ul>
			</ul>
			<div class="block-control-botm"></div>
		</li>
	</ul>
	</div>
	<div id="look-commands" class="tab-pane">
	<ul class="list-group toolbar">
		<li class="toolbar-item toolbar-item-look draggable_sortable command_change_costume" id="command_change_costume">
			change constume 
		</li>
		<li class="toolbar-item toolbar-item-look draggable_sortable command_change_background" id="command_change_background">
			change background
		</li>
		<li class="toolbar-item toolbar-item-look draggable_sortable command_show" id="command_show" >
			show 
		</li>
		<li class="toolbar-item toolbar-item-look draggable_sortable command_hide" id="command_hide">
			hide 
		</li>
	</ul>
	</div>
	<div id="operator-commands" class="tab-pane">
		<div class="toolbar">
			<div class="toolbar-item-operator operator-draggable command_op_plus" id="command_op_plus">
				<input type="text" name="value_first" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >+</div> 
				<input type="text" name="value_second" value="10" class="number-input input-droppable"></input>
			</div>
			<div class="toolbar-item-operator operator-draggable command_op_minus" id="command_op_minus">
				<input type="text" name="value_first" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >-</div> 
				<input type="text" name="value_second" value="10" class="number-input input-droppable"></input>
			</div>
			<div class="toolbar-item-operator operator-draggable command_op_multiply" id="command_op_multiply">
				<input type="text" name="value_first" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >*</div> 
				<input type="text" name="value_second" value="10" class="number-input input-droppable"></input>
			</div>
			<div class="toolbar-item-operator operator-draggable command_op_divide" id="command_op_divide">
				<input type="text" name="value_first" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >/</div> 
				<input type="text" name="value_second" value="10" class="number-input input-droppable"></input>
			</div>
			<div class="toolbar-item-operator operator-draggable command_op_mod" id="command_op_mod">
				<input type="text" name="value_first" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >%</div> 
				<input type="text" name="value_second" value="10" class="number-input input-droppable"></input>
			</div>
			<div class="toolbar-item-operator operator-draggable command_op_lessthan" id="command_op_lessthan">
				<input type="text" name="value_first" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >&lt;</div> 
				<input type="text" name="value_second" value="10" class="number-input input-droppable"></input>
			</div>
			<div class="toolbar-item-operator operator-draggable command_op_greaterthan" id="command_op_greaterthan">
				<input type="text" name="value_first" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >&gt;</div> 
				<input type="text" name="value_second" value="10" class="number-input input-droppable"></input>
			</div>
			<div class="toolbar-item-operator operator-draggable command_op_equal" id="command_op_equal">
				<input type="text" name="value_first" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >&#61;&#61;</div> 
				<input type="text" name="value_second" value="10" class="number-input input-droppable"></input>
			</div>
			<!-- <li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >-</div> 
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >*</div> 
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >/</div> 
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >%</div> 
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >&lt;</div>
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >&gt;</div>
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >&#61;&#61;</div>
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
				<div style="display:inline-block;" >&#61;</div>
				<input type="text" name="value_move_steps" value="10" class="number-input input-droppable"></input>
			</li> -->
		</div>
	</div>
	<div id="variable-commands" class="tab-pane">
		<div class="toolbar">
			<div class="toolbar-item-variable variable-draggable command_var_xPos" id="command_var_xPos">
				x pos
			</div>
			<div class="toolbar-item-variable variable-draggable command_var_yPos" id="command_var_yPos">
				y pos
			</div>
			<div class="toolbar-item-variable variable-draggable command_var_mouseX" id="command_var_mouseX">
				mouse x 
			</div>
			<div class="toolbar-item-variable variable-draggable command_var_mouseY" id="command_var_mouseY">
				mouse y
			</div>
			<div class="toolbar-item-variable variable-draggable command_var_left" id="command_var_left">
				left
			</div>
			<div class="toolbar-item-variable variable-draggable command_var_right" id="command_var_right">
				right
			</div>
			<div class="toolbar-item-variable variable-draggable command_var_top" id="command_var_top">
				top
			</div>
			<div class="toolbar-item-variable variable-draggable command_var_bottom" id="command_var_bottom">
				bottom
			</div>
		</div>
	</div>
</div>