<ul class="nav nav-pills" role="tablist">
    <li class="active"><a href="#motion-commands" role="tab" data-toggle="tab">Motion</a></li>
    <li><a href="#control-commands" role="tab" data-toggle="tab">Control</a></li> 
    <li><a href="#look-commands" role="tab" data-toggle="tab">Looks</a></li>     
    <li><a href="#operator-commands" role="tab" data-toggle="tab">Operators</a></li> 
    <li><a href="#variable-commands" role="tab" data-toggle="tab">Variables</a></li> 
</ul>
<div class="tab-content" id="toolbar-pane">
	<div id="motion-commands" class="tab-pane active">
	<ul class="list-group toolbar">
		<li class="toolbar-item toolbar-item-motion draggable_sortable  command_set_x" id="command_set_x" >
			set to x
			<input type="text" name="value_set_to_x" value="10" class="number-input droppable"></input>
		</li>
		<li class="toolbar-item toolbar-item-motion draggable_sortable command_set_y" id="command_set_y" >
			set to y
			<input type="text" name="value_set_to_y" value="10" class="number-input"></input>
		</li>
		<li class="toolbar-item toolbar-item-motion draggable_sortable command_move" id="command_move">
			move
			<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			steps 
		</li>
	</ul>
	</div>
	<div id="control-commands" class="tab-pane">
	<ul class="list-group toolbar">
		<li class="toolbar-item toolbar-item-control draggable_sortable command_repeat" id="command_repeat">
			<div class="block-control-top">
				repeat
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				times
			</div>
			<ul>
			</ul>
			<div class="block-control-botm"></div>
		</li>
		<li class="toolbar-item toolbar-item-control draggable_sortable command_forever" id="command_forever">
			<div class="block-control-top">
				forever
			</div>
			<ul>
			</ul>
			<div class="block-control-botm"></div>
		</li>
		<li class="toolbar-item toolbar-item-control draggable_sortable command_if" id="command_if">
			<div class="block-control-top">
				if
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				then
			</div>
			<ul>
			</ul>
			<div class="block-control-botm"></div>
		</li>
	</ul>
	</div>
	<div id="look-commands" class="tab-pane">
	<ul class="list-group toolbar">
		<li class="toolbar-item toolbar-item-look draggable_sortable command_change_costume" id="command_change_costume">
			change constume 
		</li>
		<li class="toolbar-item toolbar-item-look draggable_sortable command_change_background" id="command_change_background">
			change background
		</li>
		<li class="toolbar-item toolbar-item-look draggable_sortable command_show" id="command_show" >
			show 
		</li>
		<li class="toolbar-item toolbar-item-look draggable_sortable command_hide" id="command_hide">
			hide 
		</li>
	</ul>
	</div>
	<div id="operator-commands" class="tab-pane">
		<ul class="list-group toolbar">
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				+
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				-
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				*
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				/
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				mod
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				&lt;
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				&gt;
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				&#61;&#61;
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			</li>
			<li class="toolbar-item toolbar-item-operator draggable_sortable command_op_plus" id="command_op_plus">
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
				&#61;
				<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			</li>
		</ul>
	</div>
	<div id="variable-commands" class="tab-pane">
		<ul class="list-group toolbar">
			<li class="toolbar-item toolbar-item-variable draggable command_var_xPos" id="command_var_xPos">
				x pos
			</li>
			<li class="toolbar-item toolbar-item-variable draggable command_var_xPos" id="command_var_xPos">
				y pos
			</li>
			<li class="toolbar-item toolbar-item-variable draggable command_var_xPos" id="command_var_xPos">
				mouse pos x 
			</li>
			<li class="toolbar-item toolbar-item-variable draggable command_var_xPos" id="command_var_xPos">
				mouse pos y
			</li>
			<li class="toolbar-item toolbar-item-variable draggable command_var_xPos" id="command_var_xPos">
				canvas left
			</li>
			<li class="toolbar-item toolbar-item-variable draggable command_var_xPos" id="command_var_xPos">
				canvas right
			</li>
			<li class="toolbar-item toolbar-item-variable draggable command_var_xPos" id="command_var_xPos">
				canvas top
			</li>
			<li class="toolbar-item toolbar-item-variable draggable command_var_xPos" id="command_var_xPos">
				canvas bottom
			</li>
		</ul>
	</div>
</div>