<ul class="list-group toolbar">
	<li class="toolbar-item toolbar-item-normal draggable command_set_x" id="command_set_x" >
		set to x
		<input type="text" name="value_set_to_x" value="10" class="number-input"></input>
	</li>
	<li class="toolbar-item toolbar-item-normal draggable command_set_y" id="command_set_y" >
		set to y
		<input type="text" name="value_set_to_y" value="10" class="number-input"></input>
	</li>
	<li class="toolbar-item toolbar-item-normal draggable command_show" id="command_show" >
		show 
	</li>
	<li class="toolbar-item toolbar-item-normal draggable command_hide" id="command_hide">
		hide 
	</li>
	<li class="toolbar-item toolbar-item-normal draggable command_move" id="command_move">
		move
		<input type="text" name="value_move_steps" value="10" class="number-input"></input>
		steps 
	</li>
	<li class="toolbar-item toolbar-item-normal draggable command_change_costume" id="command_change_costume">
		change constume 
	</li>
	<li class="toolbar-item toolbar-item-normal draggable command_change_background" id="command_change_background">
		change background
	</li>
	<li class="toolbar-item toolbar-item-control draggable command_repeat" id="command_repeat">
		<div class="block-control-top">
			repeat
			<input type="text" name="value_move_steps" value="10" class="number-input"></input>
			times
		</div>
		<ul>
		</ul>
		<div class="block-control-botm"></div>
	</li>
</ul>