$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

ul { 
	list-style-type: none;
	min-height: 15px; 
	padding: 0px;	
}

li {
	color: #FFFFFF;	
}

.container-fluid {
	padding-left: 4px;
	padding_right: 4px;	
}

.navbar {
	margin-bottom: 2px;
	border-radius: 0px;	
}

.block {
	border: 1px solid #A0A0A0;	
}

.left-col {
	width: 480px;
	height: auto;
	float: left;
	margin-right: 4px;
	overflow: hidden;
}

.right-col {
	width: auto;
    height: auto;
    overflow: hidden;
}

.player-header {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 36px;
	padding-top: 4px;
	padding-left: 20px;
	padding-right: 20px;
}

.filename-input {
	padding: 2px 8px;
	line-height: 12px;
	width: 300px;
}

.player {
	height: 360px;
}

.editor {
	height: 680px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	overflow: hidden;
}

.costumes-pane {
	height: 680px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	overflow: hidden;
}

.editor-toolbar {
	width: 240px;
	height: 680px;
	margin-right: 4px;
	float: left;
	overflow: hidden;
}

.editor-workspace {
	height: 670px;
	width: auto;
	padding: 20px 20px;
	overflow: hidden;
	background-color: #E8E8E8;
}

.editor-workspace li {
	margin-top: -6px;
}

.workspace-list div {
	padding-left: 8px;
	padding-top: 5px;
}

.workspace-list {
	list-style-type: none;
	min-height: 640px;
	min-width: 600px;
	margin-top: -40px;
}

.toolbar {
	padding-left: 20px;
	list-style-type: none;
}

.toolbar div {
	padding-left: 8px;
	padding-top: 5px;
}

.toolbar-item {
	margin-top: 20px;
	padding-left: 8px;
	width: 200px;
}

.toolbar-item-normal {
	padding-top: 5px;
	height: 37px;
	background-image: url('../images/block_normal.png');
	background-repeat: no-repeat;
}

.toolbar-item-start {
	padding-top: 5px;
	height: 37px;
	background-image: url('../images/block_start.png');
	background-repeat: no-repeat;
}

.toolbar-item-control {
	min-height: 83px;
}

.toolbar-item-control ul {
	background-image: url('../images/block_control_mid.png');
	background-repeat: repeat-y;
	margin-left: -8px;
}

.toolbar-item-control li {
	margin-left: 27px;
}

.number-input {
	line-height: 12px;
	margin-left: 4px;
	margin-right: 4px;
	width: 30px;
	font-size: 11px;
	color: #000000;
	border-radius: 8px;
}

.block-control-top {
	width: 200px;
	height: 37px;
	margin-left: -8px;
	background-image: url('../images/block_control_top.png');
	background-repeat: no-repeat;
}

.block-control-botm {
	width: 200px;
	height: 44px;
	margin-left: -8px;
	margin-top: -14px;
	background-image: url('../images/block_control_botm.png');
	background-repeat: no-repeat;
}