$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

ul { 
	list-style-type: none;
	min-height: 15px; 
	padding: 0px;	
}

li {
	color: #FFFFFF;	
}

.first-label {
	display: inline-block;
	margin-right: 4px;
}

.droppable {
	width: 52px;
	height: 22px;
}

.container-fluid {
	padding-left: 4px;
	padding_right: 4px;	
}

.navbar {
	margin-bottom: 2px;
	border-radius: 0px;	
}

.block {
	border: 1px solid #A0A0A0;	
}

.left-col {
	width: 480px;
	height: auto;
	float: left;
	margin-right: 4px;
	overflow: hidden;
}

.right-col {
	width: auto;
    height: auto;
    overflow: hidden;
}

.player-header {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 36px;
	padding-top: 4px;
	padding-left: 20px;
	padding-right: 20px;
}

.filename-input {
	padding: 2px 8px;
	line-height: 12px;
	width: 300px;
}

.player {
	height: 360px;
}

.editor {
	height: 680px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	overflow: hidden;
}

.audio-pane {
	height: 680px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	overflow: hidden;
}

.costumes-pane {
	/*height: 680px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	overflow: hidden;*/
}

.costumes_view {
	height: 670px;
	width: auto;
	padding-left: 20px;
	overflow: hidden;
	background-color: #E8E8E8;
}

.costumes_list {
	width: 150px;
	height: 680px;
	margin-right: 4px;
	float: left;
	overflow: hidden;
	margin-left: 4px;
}

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 200px; }
.selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; width: 100px; height: 100px;text-align: center;}

.costumes-selectable .ui-selecting { background: #FECA40; }
.costumes-selectable .ui-selected { background: #F39814; color: white; }
.costumes-selectable { list-style-type: none; margin: 0; width: 200px; }
.costumes-selectable li { padding: 0.4em; font-size: 1.4em; width: 100px; height: 100px; text-align: center;}

.sprite-button {
	background-color: white;
}

.audio-toolbar {
	width: auto;
	height: 60px;
	overflow: hidden;
}

.audio-workspace {
	height: 620px;
	width: auto;
	padding: 20px 20px;
	overflow: hidden;
	background-color: #E8E8E8;
	overflow: scroll;
}


.editor-toolbar {
	width: 240px;
	height: 680px;
	margin-right: 4px;
	float: left;
	overflow: hidden;
}

.editor-workspace {
	height: 670px;
	width: auto;
	padding: 20px 20px;
	overflow: hidden;
	background-color: #E8E8E8;
}

.editor-workspace li {
	margin-top: -6px;
}

.workspace-list {
	list-style-type: none;
	min-height: 640px;
	min-width: 600px;
}

.toolbar {
	padding-left: 20px;
}

.toolbar-item {
	margin-top: 20px;
	padding-left: 8px;
	width: 200px;
}

.toolbar-item-motion {
	padding-top: 5px;
	height: 37px;
	background-image: url('../images/command_motion.png');
	background-repeat: no-repeat;
}

.toolbar-item-assignment {
	padding-top: 5px;
	padding-left: 2px;
	height: 37px;
	background-image: url('../images/command_assignment.png');
	background-repeat: no-repeat;
	color: #FFFFFF;
}

.toolbar-item-control {
	height: auto !important;
	min-height: 83px;
}

.toolbar-item-control ul {
	background-image: url('../images/command_control_mid.png');
	background-repeat: repeat-y;
	margin-left: -8px;
}

.toolbar-item-control li {
	margin-left: 27px;
}

.block-control-top {
	padding-left: 8px;
	padding-top: 5px;
	width: 200px;
	height: 37px;
	margin-left: -8px;
	background-image: url('../images/command_control_top.png');
	background-repeat: no-repeat;
}

.block-control-botm {
	width: 200px;
	height: 44px;
	margin-left: -8px;
	margin-top: -14px;
	background-image: url('../images/command_control_botm.png');
	background-repeat: no-repeat;
}

.toolbar-item-event {
	height: auto !important;
	min-height: 83px;
}

.toolbar-item-event ul {
	background-image: url('../images/command_event_mid.png');
	background-repeat: repeat-y;
	margin-left: -8px;
}

.toolbar-item-event li {
	margin-left: 27px;
}

.block-event-top {
	padding-left: 8px;
	padding-top: 5px;
	width: 200px;
	height: 37px;
	margin-left: -8px;
	background-image: url('../images/command_event_top.png');
	background-repeat: no-repeat;
}

.block-event-botm {
	width: 200px;
	height: 44px;
	margin-left: -8px;
	margin-top: -14px;
	background-image: url('../images/command_event_botm.png');
	background-repeat: no-repeat;
}

.toolbar-item-look {
	padding-top: 5px;
	height: 37px;
	background-image: url('../images/command_look.png');
	background-repeat: no-repeat;
}

.toolbar-item-operator {
	margin-top: 20px;
	padding-top: 2px;
	padding-left: 4px;
	height: 26px;
	width: 126px;
	background-image: url('../images/command_operator.png');
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-size: 12px;
}

.toolbar-item-variable {
	margin-top: 20px;
	padding-top: 4px;
	padding-left: 8px;
	height: 22px;
	width: 52px;
	background-image: url('../images/command_variable.png');
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-size: 9px;
}

.number-input {
	line-height: 12px;
	width: 50px;
	font-size: 11px;
	color: #000000;
	border-radius: 8px;
}

.ui-state-highlight {
	height: 33px;
	width: 200px;
	border: 1px solid #fcefa1; 
	background-color: #fbf9ee;
	visibility: visible !important;
}

.ui-state-hover {
	height: 22px;
	width: 52px;
	border: 1px solid #fcefa1; 
	background-color: #fbf9ee;
	visibility: visible !important;
}


.dropdown-menu-right{
	position: absolute;
	left: 180px;
	top: 50px;
}